{% extends "BpCoreBundle::mainlayout.html.twig" %}

{% block body %}

	<div class="top-content">
		{% if packHighlight.mainPhoto %}
		<img src="{{ product.mainPhoto.webPath|imagine_filter("type_medium") }}" alt="">
		{% else %}
		<img src="{{ asset('public/img/withings-activity.png')}}" alt="">
		{% endif %}
		<div class="container">
			<div class="breadcrumb">
				<a href="{{ path('bp_core_default_index') }}">Accueil</a>
				<a href="{{ path('bp_core_pack_index') }}">Choisir son pack</a>
			</div>
			<div class="pack-highlight">
				<div class="info">
					<h1>{{ packHighlight.name }}</h1>
					<p>{{ packHighlight.description }}</p>
					<a href="{{ path("bp_core_pack_show", { id:packHighlight.id }) }}" class="button">Découvrir</a>
					<div class="price-container">
						<a href="#" class="button">Ajouter à mon panier</a>	
						<p class="price">{{ packHighlight.price|ttcPrice }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="list-packs">
		<div class="container">

			{% for pack in packs %}

			{% set pack = {'product':pack,page:'pack'} %}
			{% include 'BpCoreBundle:components:block_product.html.twig' with pack %}

    {# <li><img src="{{ pack.mainPhoto.webPath|imagine_filter("type_medium") }}" alt="{{ pack.mainPhoto.alt }}" title="{{ pack.mainPhoto.description }}"></li> #}

			{% endfor %}
			
			<div class="loader-container">
				<div class="loader"></div>
			</div>

		</div>
	</div>


{% endblock body %}