{% extends "BpCoreBundle::mainlayout.html.twig" %}

{% block body %}


    <div class="top-header">
        <div class="container">
            <div class="img-container">
                {% if pack.mainPhoto %}
                <img src="{{ pack.mainPhoto.webPath|imagine_filter("type_medium") }}" alt="{{ pack.mainPhoto.alt }}" title="{{ pack.mainPhoto.description }}">
                {% else %}
                <img src="{{ asset('public/img/withings-pack-large.png') }}" alt="">
                {% endif %}
            </div>
            <h1>{{ pack.name }}</h1>
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
            <div class="price-container">
                <a href="#" class="button">Je veux tester ce pack</a>   
                <p class="price">+ {{ pack.price|ttcPrice }}</p>
            </div>
        </div>
    </div>

    <div class="list-products">
        <div class="container">

            {% for product in pack.products %}

            <div class="product-item">
                {% include 'BpCoreBundle:components:product-detail.html.twig' with {'product':product} %}
            </div>

            {% endfor %}

        </div>
    </div>


{# <h1>Pack {{ pack.name }}</h1>

<ul>
    <li>Nom : <a href="{{ path("bp_core_pack_show", {id:pack.id}) }}">{{ pack.name }}</a></li>
    <li>Prix : {{ pack.price|ttcPrice }}</li>
    {% if pack.mainPhoto %}
    <li><img src="{{ pack.mainPhoto.webPath|imagine_filter("type_medium") }}" alt="{{ pack.mainPhoto.alt }}" title="{{ pack.mainPhoto.description }}"></li>
    {% endif %}
</ul>

<h2>Objets du pack</h2>
    {% for product in pack.products %}
    <h4> <a href="{{ path("bp_core_product_show", { id:product.id }) }}">{{ product.name }}</a> </h4>
<ul>
    <li>Marque : {{ product.brand.name }}</li>
    <li>Prix : {{ product.price|ttcPrice }}</li>
    <li>Taxe : {{ product.taxe|ttcPrice }}</li>
    {% if product.mainPhoto %}
    <li><img src="{{ product.mainPhoto.webPath | imagine_filter("type_medium") }}"></li>
    {% endif %}
</ul>
    {% endfor %}

<h2>Images du pack</h2>
{% for photo in pack.photos %}
<img src="{{ photo.webPath|imagine_filter("type_medium") }}">
{% endfor %} #}


{% endblock body %}

