<div class="search-container">

	<div class="mobile-btn">
		<a href="#" class="button transparent">Filtrer</a>
	</div>

	<div class="container-filter">
		<div class="overview">
			<h3>Résultat<span>34</span></h3>
			<a href="#" class="button transparent reset">Réinitialiser</a>
			<div class="category-container">
				<a href="#">Catégory{{ icons('triangle')|raw }}</a>
				<div class="list-category type">
					<ul>
						<li><a href="#" class="sport">Sport{{ icons('cross')|raw }}</a></li>
						<li><a href="#" class="smartwatch">Smartwatch{{ icons('cross')|raw }}</a></li>
						<li><a href="#" class="sante">Santé{{ icons('cross')|raw }}</a></li>
						<li><a href="#" class="home">Home{{ icons('cross')|raw }}</a></li>
					</ul>
				</div>
			</div>
			{# <div class="category-container">
				<a href="#">Produit{{ icons('triangle')|raw }}</a>
				<div class="list-category">
					<ul>
						<li><a href="#">Type{{ icons('cross')|raw }}</a></li>
						<li><a href="#">Type{{ icons('cross')|raw }}</a></li>
						<li><a href="#">Type{{ icons('cross')|raw }}</a></li>
						<li><a href="#">Type{{ icons('cross')|raw }}</a></li>
						<li><a href="#">Type{{ icons('cross')|raw }}</a></li>
						<li><a href="#">Type{{ icons('cross')|raw }}</a></li>
					</ul>
				</div>
			</div> #}
			<div class="category-container">
				<a href="#">Marque{{ icons('triangle')|raw }}</a>
				<div class="list-category brand">
					<ul>
						{% for brand in brands %}
						<li><a href="#" class="marque">{{ brand.name }}{{ icons('cross')|raw }}r</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>

</div>