<div class="search-container">

	<div class="mobile-btn">
		<a href="#" class="button transparent">Filtrer</a>
	</div>

	<div class="container-filter">
		<div class="overview">
			<h3>Résultat<span>34</span></h3>
			<a href="#" class="button transparent reset">Réinitialiser</a>
			<div class="category-container">
				<a href="#">Type{{ icons('triangle')|raw }}</a>
				<div class="list-category">
					<ul>
						<li><a href="#">Type{{ icons('cross')|raw }}</a></li>
						<li><a href="#">Type{{ icons('cross')|raw }}</a></li>
						<li><a href="#">Type{{ icons('cross')|raw }}</a></li>
						<li><a href="#">Type{{ icons('cross')|raw }}</a></li>
						<li><a href="#">Type{{ icons('cross')|raw }}</a></li>
						<li><a href="#">Type{{ icons('cross')|raw }}</a></li>
					</ul>
				</div>
			</div>
			<div class="category-container">
				<a href="#">Produit{{ icons('triangle')|raw }}</a>
				<div class="list-category">
					<ul>
						<li><a href="#">Type{{ icons('cross')|raw }}</a></li>
						<li><a href="#">Type{{ icons('cross')|raw }}</a></li>
						<li><a href="#">Type{{ icons('cross')|raw }}</a></li>
						<li><a href="#">Type{{ icons('cross')|raw }}</a></li>
						<li><a href="#">Type{{ icons('cross')|raw }}</a></li>
						<li><a href="#">Type{{ icons('cross')|raw }}</a></li>
					</ul>
				</div>
			</div>
			<div class="category-container">
				<a href="#">Marque{{ icons('triangle')|raw }}</a>
				<div class="list-category">
					<ul>
						<li><a href="#">Type{{ icons('cross')|raw }}r</a></li>
						<li><a href="#">Type{{ icons('cross')|raw }}r</a></li>
						<li><a href="#">Type{{ icons('cross')|raw }}r</a></li>
						<li><a href="#">Type{{ icons('cross')|raw }}r</a></li>
						<li><a href="#">Type{{ icons('cross')|raw }}r</a></li>
						<li><a href="#">Type{{ icons('cross')|raw }}r</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</div>