<div class="product-detail">
	<div class="top-header">
		<div class="container">
			<div class="slider-product">
				<div class="slides-container">
					<div class="slides">
						{% for photo in product.photos %}
							{% if loop.index == 1 %}
						<div class="slide active">
							{% else %}
						<div class="slide">
							{% endif %}
							<img src="{{ photo.webPath|imagine_filter("large") }}" alt="">
						</div>
						{% endfor %}
					</div>
				</div>
				<ul>
					{% for photo in product  %}
							{% if loop.index == 1 %}
					<li class="active"><img src="{{ photo.webPath|imagine_filter("small") }}" alt=""></li>
							{% else %}
					<li><img src="{{ photo.webPath|imagine_filter("small") }}" alt=""></li>
							{% endif %}
					{% endfor %}
				</ul>
			</div>
			<div class="product-info">
				<h1>{{ product.name }}</h1>
				<h2>{{ product.brand.name }}</h2>
				<p>{{ product.description }}</p>
				{% if product.colors is defined %}
				<h3>Couleur</h3>
				<div class="color-container">
					{% for color in product.colors %}
					<a href="#" class="color" style="background-color:{{ color.color }}"></a>
					{% endfor %}
				</div>
				{% endif %}
				{% if product.sizes is defined %}
				<h3>Taille</h3>
				<div class="size-container">
					{% for size in product.sizes %}
					<a href="#" class="size">{{ size.name }}</a>
					{% endfor %}
				</div>
				{% endif %}
				{% if product.quantity > 0 %}
				<p class="disponibility">En stock</p>
				{% else %}
				<p class="disponibility">En rupture</p>
				{% endif %}
				<div class="action-container">
					<div>
						{% if page is defined and page != "pack-list"%}
						<div class="price-container">
							{% if page == 'shop' and page is defined %}
							<a href="#" class="button green add-to-cart">Ajouter à mon panier</a>	
							{% else %}
							<a href="#" class="button add-to-pack">Ajouter à mon pack</a>	
							{% endif %}
							{% if page == 'shop' and page is defined %}
							<p class="price green">{{ product.price }} &euro;</p>
							{% elseif  product.taxe is defined and product.taxe > 0 %}
							<p class="price">+ {{ product.taxe }} &euro;</p>
							{% endif %}
						</div>
						{% endif %}
						<a href="#" class="icon-container favorites">
							{{ icons('heart')|raw }}
							<span>Favoris</span>
						</a>
					</div>
				</div>
				<div class="more-detail">
					<a href="#" class="button">Détail</a><a href="#" class="plus">+</a>
				</div>
			</div>
		</div>
	</div>
	<div class="more-info-container">
		<div class="more-info">
			<div class="container">
				{% if product.types is defined and product.types|length > 0 %}
				<h1>Fonctionnalités</h1>
				<div class="fonctionnality-container">
					{% for type in product.types %}
					<div class="fonctionnality">
						<div class="icon-container">
							{{ icons(type.name|lower|replace({' ': '_'}))|raw }}
						</div>
						<p>{{ type.name }}</p>
					</div>
					{% endfor %}
				</div>
				{% endif %}
			</div>
			{% if product.specificite is defined %}
			<div class="container spec">
				<h1>Spécifications</h1>
				{# <ul> #}
					{{ product.specificite|raw }}
				{# </ul> #}
			</div>
			{% endif %}
		</div>
		{% if product.comments is defined and product.comments|length > 0 %}
		<div class="reviews-container">
			<div class="container">
				<h1>Témoiniages ({{ product.comments|length }})</h1>
				<div class="score-container">
					<div class="score" style="width:{{ product.comments|averageNote * 10 }}%;">
						<div class="round"></div>
						<div class="round"></div>
						<div class="round"></div>
						<div class="round"></div>
						<div class="round"></div>
					</div>
					<div class="score-circle">
						<div class="circle"></div>
						<div class="circle"></div>
						<div class="circle"></div>
						<div class="circle"></div>
						<div class="circle"></div>
					</div>
				</div>
    			{% for comment in product.comments %}
				<div class="reviews">
					<h3>{{ comment.user.username }}</h3>
					<div>
						<div class="score-container">
							<div class="score" style="width:{{ comment.note * 10 }}%;">
								<div class="round"></div>
								<div class="round"></div>
								<div class="round"></div>
								<div class="round"></div>
								<div class="round"></div>
							</div>
							<div class="score-circle">
								<div class="circle"></div>
								<div class="circle"></div>
								<div class="circle"></div>
								<div class="circle"></div>
								<div class="circle"></div>
							</div>
						</div>
						<p>{{ comment.text }}</p>
					</div>
				</div>
    			{% endfor %}
			</div>
		</div>
		{% endif %}
	</div>
</div>
