<div class="your-pack-container {{class}}">
	<p class="title">Votre pack : </p>
	<div class="product-choice">
		<div class="img-container">
			<img src="img/default-product-pack.png" alt="">
			<p class="number">1</p>
			<div class="edit-container">
				{{ icons('edit')|raw }}
			</div>
		</div>
		<div class="info-bull">
			<span></span>
			<p>Choisissez le produit dans la liste en dessous</p>
		</div>
		<div class="info-bull edit">
			<span></span>
			<p>Éditer</p>
		</div>
	</div>

	<div class="product-choice">
		<div class="img-container">
			<img src="img/default-product-pack.png" alt="">
			<p class="number">2</p>
			<div class="edit-container">
				{{ icons('edit')|raw }}
			</div>
		</div>
		<div class="info-bull">
			<span></span>
			<p>Choisissez le produit dans la liste en dessous</p>
		</div>
		<div class="info-bull edit">
			<span></span>
			<p>Éditer</p>
		</div>
	</div>

	<div class="product-choice">
		<div class="img-container">
			<img src="img/default-product-pack.png" alt="">
			<p class="number">3</p>
			<div class="edit-container">
				{{ icons('edit')|raw }}
			</div>
		</div>
		<div class="info-bull">
			<span></span>
			<p>Choisissez le produit dans la liste en dessous</p>
		</div>
		<div class="info-bull edit">
			<span></span>
			<p>Éditer</p>
		</div>
	</div>

	<div class="product-choice">
		<div class="img-container">
			<img src="img/default-product-pack.png" alt="">
			<p class="number">4</p>
			<div class="edit-container">
				{{ icons('edit')|raw }}
			</div>
		</div>
		<div class="info-bull">
			<span></span>
			<p>Choisissez le produit dans la liste en dessous</p>
		</div>
		<div class="info-bull edit">
			<span></span>
			<p>Éditer</p>
		</div>
	</div>
	<a href="#" class="button">Choisissez vos produits</a>
</div>
<div class="stay"></div>