{% extends "BpCoreBundle::mainlayout.html.twig" %}

{% block body %}

    <div class="highlight">
        <img src="{{ asset('public/img/home-highlight.png') }}" alt="">
        <div class="container">
            <div class="holder">
                <h5>Envie d'un objet connecté mais peur de sauter le pas ? Avec Wygiwyt tester 4 objets pendant une semaine. Et repartez avec <br/>10 euros de réduction sur votre prochain achat.</h5>
                <a href="#" class="button">Découvrir wygiwyt en vidéo</a>
            </div>
        </div>
    </div>

    <div class="how">
        <div class="container">
            <div class="exergue">
                {{ icons('logo_reduce')|raw }}
                <h1>En quelques mots</h1>
                <h5>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</h5>
            </div>
            <div class="steps">
                <div class="step">
                    <h3>Choisissez</h3>
                    <p>Une idée en tête ? Faites vous plaisir en créant vous même votre pack. Indécis? Choisissez un de nos packs thématiques ou un de nos packs de marque. Il y en a forcément un pour vous.</p>
                </div>
                <div class="step">
                    <h3>Choisissez</h3>
                    <p>Une idée en tête ? Faites vous plaisir en créant vous même votre pack. Indécis? Choisissez un de nos packs thématiques ou un de nos packs de marque. Il y en a forcément un pour vous.</p>
                </div>
                <div class="step">
                    <h3>Choisissez</h3>
                    <p>Une idée en tête ? Faites vous plaisir en créant vous même votre pack. Indécis? Choisissez un de nos packs thématiques ou un de nos packs de marque. Il y en a forcément un pour vous.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="features-product">
        <div class="container">
            <div class="exergue">
                {{ icons('logo_reduce')|raw }}
                <h1>Featured products</h1>
                <h5>Découvrez une selection des produits phares du moment.</h5>
            </div>
        </div>
        <div class="container">
            <div class="product-container">
                
                {% for product in products %}

                {% set data = {'product':product,'page':'home'} %}
                {% include 'BpCoreBundle:components:block_product.html.twig' with data %}
                
                {% endfor %}

            </div>
        </div>
        <div class="container">
            <div class="band">
                <a href="{{ path("bp_core_product_index") }}" class="button">Voir tous les produits</a>
            </div>
        </div>
    </div>

    <div class="features-packs">
        <div class="container">
            <div class="exergue">
                {{ icons('logo_reduce')|raw }}
                <h1>Featured packs</h1>
                <h5>Découvrez une selection des packs phares du moment.</h5>
            </div>
        </div>
        <div class="divide-container">
            
            {% for pack in packs %}

            <div class="half pack-{{ loop.index }}">
                {% if pack.mainPhoto %}
                <img src="{{ pack.mainPhoto.webPath|imagine_filter("large") }}" alt="{{ pack.mainPhoto.alt }}" title="{{ pack.mainPhoto.description }}">
                {% else %}
                <img src="{{ asset('public/img/home-pack-' ~ loop.index ~ '.png') }}" alt="">
                {% endif %}
                <div>
                    <h1>{{ pack.name }}</h1>
                    <h5>{{ pack.description }}</h5>
                    <a href="{{ path("bp_core_pack_show", { id:pack.id }) }}" class="button transparent">Découvrir</a>
                </div>
            </div>
            
            {% endfor %}
            
            <div class="clear"></div>
        </div>
        <div class="container">
            <div class="band">
                <a href="{{ path("bp_core_pack_index") }}" class="button">Voir tous les packs</a>
            </div>
        </div>
    </div>

{% endblock body %}