<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html><!--<![endif]-->
<head>
	{{ include('BpCoreBundle:partials:head.html.twig') }}
</head>
<body>
	<div class="icons">	
	{{ include('BpCoreBundle:partials:icons.html.twig') }}
	</div>
	{{ include('BpCoreBundle:partials:header.html.twig') }}

	<div class="content-page" id="page-{{ page is defined ? page }}">
	{% block body %}

	{% endblock %}
	</div>

	{{ include('BpCoreBundle:partials:footer.html.twig') }}
	{{ include('BpCoreBundle:partials:foot.html.twig') }}
	{# {{ include('desktop/components/grid.html.twig') }} #}
</body>
</html>