{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Product</h1>

    <table class="record_properties table ">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ entity.reference }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ entity.price|price }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ entity.quantity }}</td>
            </tr>
            <tr>
                <th>Types</th>
                <td>
                    <ul>
                    {% for type in entity.types %}
                        <li>{{ type.name }}</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ entity.active }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Images</h2>
    <table class="records_list  table table-striped">
        <thead>
            <tr>
                <th>Photo</th>
                <th>alt</th>
                <th>description</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
        {% for image in entity.photos %}
            <tr>
                <td><img src="{{ image.webPath|imagine_filter("type_medium") }}"></td>
                <td>{{ image.alt }}</td>
                <td>{{ image.description }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_type_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_type_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                    <li>
                        {% if entity.mainPhoto == image %}
                        cette photo est la photo principale
                        {% else %}
                        <form method="post" action="{{ path("bp_admin_photo_setmain") }}">
                            <input type="hidden" name="type" value="product"/>
                            <input type="hidden" name="id" value="{{ entity.id }}"/>
                            <input type="hidden" name="id_photo" value="{{ image.id }}"/>
                            <button type="submit">Mettre en photo principale</button>
                        </form>
                        {% endif %}
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

 
        <ul class="record_actions list-inline">
        <li>
            <a href="{{ path("bp_admin_photo_add", { idProduct: entity.id }) }}">Ajouter une photo</a>
        </li>
    <li>
        <a href="{{ path('admin_product') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_product_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
