{% extends "BpCoreBundle::mainlayout.html.twig" %}

{% block body %}

	<div class="top-content">
		{% if productHighlight.mainPhoto %}
		<img src="{{ productHighlight.mainPhoto.webPath|imagine_filter("large") }}" alt="">
		{% else %}
		<img src="{{ asset('public/img/highlight-list-product.png')}}" alt="">
		{% endif %}
		<div class="container">
			<div class="breadcrumb">
				<a href="{{ path('bp_core_default_index') }}">Accueil</a>
				<a href="{{ path('bp_core_product_index') }}">Boutique</a>
			</div>
			<div class="pack-highlight">
				<div class="info">
					<h1>{{ productHighlight.name }}</h1>
					<p>{{ productHighlight.description }}</p>
					<a href="{{ path("bp_core_product_show", { id:productHighlight.id }) }}" class="button">Découvrir</a>
					<div class="price-container">
						<a href="#" class="button">Ajouter à mon panier</a>	
						<p class="price">{{ productHighlight.price|ttcPrice }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="list-products">
		<div class="container">
			
			{% include 'BpCoreBundle:components:filter-product.html.twig' %}
			
			<div class="product-container">
				
				{% for product in products %}
				{% set data = {'product':product, 'page':'shop'} %}
				{% include 'BpCoreBundle:components:block_product.html.twig' with data %}
				{% endfor %}
				
				<div class="loader-container">
					<div class="loader"></div>
				</div>

			</div>

		</div>
	</div>

{% endblock body %}